html {
    font-size: 1.6vh;
    min-height: 100vh;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    overflow: hidden;
}

#header, #footer {
    position: absolute;
    color: #fff;
    background: #333;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

#header {
    top: 0;
}

#header .btn-share {
    border-radius: 1rem;
    text-decoration: none;
    color: #ffffff;
    background: #00C851;
    padding: 0.333rem;
    width: 50%;
    display: block;
    margin: auto;
}

#calculator {
    background: #333;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2rem;
    width: 20rem;
    overflow: hidden;
    border: solid #333;
    border-width: 3rem 1rem 0.3rem;
}

#display {
    background: #2979ff;
    color: #ffffff;
    text-align: center;
    position: relative;
}

#statusBar {
    display: block;
    padding: 1rem;
}

#mainNumber {
    color: #ffffff;
    text-align: right;
    padding: 1rem;
    margin: 0;
    background: #448aff;
    min-height: 1em;
    word-wrap: break-word;
    height: 10rem;
}

#memoryNumber, #currentOperation, #previousNumber {
    font-size: 0.666666667rem;
    position: absolute;
    bottom: 0.3333333333rem;
    padding: 0;
}

#memoryNumber {
    left: 1rem;
}

#currentOperation {
    right: 1rem;
}

#previousNumber {
    left: 50%;
}

#memoryNumber:before {
    content: "M: ";
}

.button-row {
    display: flex;
}

#calculator > div > div:nth-child(1) button {
    background: #d50000 !important;
}

.button-row button {
    color: #fff;
    width: 20%;
    height: 4rem;
    border: none;
    background: #0097a7;
    cursor: pointer;
}

.button-row button, .btn-github {
    transition: all .9s cubic-bezier(.15, .66, 0, 1);
}

.button-row button:hover {
    font-weight: bold;
    background: #ffffff;
    color: #0097a7;
}

#calculator > div > div:nth-child(1) button:hover {
    font-weight: bold;
    background: #ffffff !important;
    color: #d50000;
}

#calculator footer {
    background: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 6rem;
}

#calculator footer .btn-github {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: 2em;
    width: 2em;
    display: inline-block;
    border-radius: 100%;
    text-align: center;
    background-size: cover;
    font-size: 2rem;
    line-height: 2em;
    color: #ffffff;

}

#calculator footer .btn-github:hover {
    color: #333;
    background: #ffffff;
    box-shadow: none;
}

#footer {
    bottom: 0;
}

#footer a {
    font-weight: bold;
    color: #fff;
}